
}
.products[data-productid] {
    background-color: #f7f7f7; 
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    border-left: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
    cursor: pointer; 
}
